
<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>sample</title>
  </head>
  <body>
    <div id="vachat">
    </div>
  </body>
  <script src="http://localhost:3000/<%= channel%>/vabot?containterId=vachat&version=1.0"></script>
</html>