<!DOCTYPE html>
<html lang='en'>

<head>
  <title>rest api</title>
</head>

<body>
  <title>Socket.IO chat</title>
  <ul id="messages"></ul>
  <form id="msgform" method="post">
    <input id="msg" autocomplete="off">
    <button>send</button>
  </form>
  
  <link rel="stylesheet" href="/css/chat.css">
  <script src="https://code.jquery.com/jquery-latest.js"></script>
  <script src="/js/rest.js"></script>
</body>

</html>