
var container = document.getElementById("<%= containter %>");
    
container.innerHTML = `
<body>
  <ul id="messages"></ul>
  <form id="msgform" method="post">
    <input id="msg" autocomplete="off">
    <button>send</button>
  </form>

  <link rel="stylesheet" href="/css/chat.css">
  <script src="https://code.jquery.com/jquery-latest.js"></script>
  <script src="/js/rest.js"></script>
</body>
`;

var scripts = container.querySelectorAll('script');   
for(var i=0; i< scripts.length; i++){
    var script = document.createElement('script');
    script.type = scripts[i].type || 'text/javascript';
    if( scripts[i].hasAttribute('src') ) {
        script.src = scripts[i].src;
    }
    script.innerHTML = scripts[i].innerHTML;
    script.async = false;
    document.head.appendChild(script);
    document.head.removeChild(script);
}